
<html lang="en" class="h-100">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"/>
    <link rel="stylesheet" href="core/view/login/viewstyle.css"/>
    <link rel="stylesheet" href="core/view/loginRegistration.css"/>
    <title>Login</title>
  </head>
  <body class="h-100">
    <div class="container h-100">
        <div class="row justify-content-center h-100">
            <div class="col-11 col-sm-8 col-md-7 col-lg-5 my-auto">
                <div class="card">
                    <div class="card-body">
                        <p class="dp" xml:id="p1"></p>
                        <p class="dp" xml:id="p2"></p>
                        <p class="dp" xml:id="p3"></p>
                        <form role="form">
                            <h1 xml:id="title" class="dp card-title text-center"></h1>
                            <div class="form-group float-label-control">
                                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>                             
                                <input type="email" class="form-control" placeholder="Email"/>
                            </div>
                            <div class="form-group float-label-control">
                                <span class="input-group-addon"><i class="fas fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Password"/>
                            </div>
                            <h6 id="password-forgot" class="dp" xml:id="passforgot"><a href="#"></a></h6>
                            <button id="login-button" type="button" class="btn btn-primary btn-lg btn-block">ENTRA<i class="fas fa-sign-in-alt"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>