body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.loginSkeleton{
    background-color: #f1f1f1;
    padding: 35px;
    display: inline-block;
    text-align: center;
    box-shadow: 1px 10px 15px -10px rgba(0, 0, 0, 0.4);
    border: 1px solid #eaeaea;
    color: #333
}

.loginSkeleton:empty{
    height: 50%;
    width: 30%;
    background-image: 
    linear-gradient(#ccc, #ccc),
    radial-gradient(circle 20px, #ccc 100%, transparent),
    linear-gradient(#ccc, #ccc),
    radial-gradient(circle 20px, #ccc 100%, transparent),
    linear-gradient(#ccc, #ccc),
    linear-gradient(#ccc, #ccc),
    linear-gradient(#ccc, #ccc),
    linear-gradient(#f1f1f1, #f1f1f1);
    background-size: 170px 60px, 110px 40px, 300px 40px, 110px 40px, 300px 40px, 250px 20px, 400px 40px, 100% 100%;
    background-position: 50% 60px, 15px 160px, 130px 160px, 15px 220px, 130px 220px, 50px 300px, 50px 350px, 0 0;
    background-repeat: no-repeat;
}
